pre {
  overflow-x: scroll;
  padding: 10px;
  background-color: #111827;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 1rem 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

h4 {
  font-size: 0.5rem;
  font-weight: bold;
}

h5 {
  font-size: 0.25rem;
  font-weight: bold;
}

h6 {
  font-size: 0.1rem;
  font-weight: bold;
}
